.header{
    font-weight:bold;
}
.info{
    font-weight: normal;
    font-style: normal;
    font-size: smaller;
}
.degree{
    font-weight: normal;
    font-style: italic;
    margin-left: 16px;
}
